.card-image{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}
.card-image img{
 float: left;
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}